# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IPYNB / Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Environments
.env
.venv
env/
venv/
ENV/

# Data and large weights (uncomment if you want to ignore your data folder)
# data/raw/*
# data/processed/*
# *.json
# *.csv
